/*
body {
  overflow:hidden
  font-size:16px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
*/
#ocbStart {
  display:block;
  display:none !important;
  margin-bottom:0.5rem;
  margin-top:0.5rem;
//  margin-left:-0.25rem;
}
.bookmarkTree #mainMenu {
  display:block;
  text-align:right;
  width:100%;
}
.bookmarkTree #sidebar {
    position:absolute;
    top:1vh;
    left:1vw;
    bottom:0;
    width:24vw;
    margin-right:0;
    padding-right:0;
    overflow-y:scroll;
}
.bookmarkTree #MyDisplay, .bookmarkTree #MyDisplay iframe {
    position:absolute;
    top:0;
    left:25vw;
    bottom:0;
    height:100%;
    width:75vw;
    border:none;
    overflow-y:scroll;
}
/*
body.collapsed #sidebar { width:4vw; }
body.collapsed #MyDisplay { width:96vw; left:4vw;}
body.collapsed #bmarkMenu { display:none; }
*/
.bookmarkTree .item {
  margin-top:0.4em;
}
ul.bookmarkTree {
  list-style-type : none;
  margin:0;
  padding:0;
  margin-left:0.25em;
}
ul.bookmarkTree ul {
  list-style-type : none;
  margin-left:0.75em !important;
  padding-left:0;
}
.bookmarkTree li.item {
  margin-bottom:0;
}

/* Remove default bullets */
.bookmarkTree #myUL ul {
  list-style-type: none;
  padding-left:1em;
}

/* Remove margins and padding from the parent ul */
.bookmarkTree #myUL {
  margin: 0;
  padding: 0;
}
/* Style the caret/arrow */
.bookmarkTree .caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.bookmarkTree .item {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
.bookmarkTree .item::before {
  content: "\274f";
  content: "\2740";
  color: gray;
  display: inline-block;
  margin-right: 6px;
}

/* Create the caret/arrow with a unicode, and style it */
.bookmarkTree .caret::before {
  content: "\25B6"; 
/*  content: "\266C"; // music notes */
  color: gray;
  display: inline-block;
  margin-right: 6px;
}
#ocbStart.caret::before {
  content:"";
}
#ocbStart {
  font-weight:bold;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.bookmarkTree .caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.bookmarkTree .nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.bookmarkTree .active {
  display: block;
}
