        * {
            font-family : Sans-Serif;
            font-size : large;
        }
        div.uix-tabs {
            margin:1em;
            width:800px;
            height:700px;
        }
        div.uix-tabs main main main {
            border:none;
            height:600px !important;
        }
        div.uix-tabs main main {
            border:none !important;
        }
/* main tabset tabs */
        uix-tabset-container > nav div {
            border-radius:4px 4px 0 0;
            margin-right:0.75em;
        }
/* inner tabset tabs */
        .uix-tabset-container .uix-tabset-container > nav div {
            padding:0.5em !important;
            border-radius:0 0 0 0 !important;
            margin-bottom:0 !important;
        }
        div.uix-tabs p {
            padding-left:1em;
            padding-right:1em;
        }
